nav.navbar.is-transparent
  .navbar-brand
    a.navbar-item(href="/")
      img(alt="HoldOpen", height='28', src="https://via.placeholder.com/112x28", width="112")
    .navbar-burger.burger(data-target="navbarExampleTransparentExample")
      span
      span
      span
  #navbarExampleTransparentExample.navbar-menu
    .navbar-start
      a.navbar-item(href='/')
        | Home
    .navbar-end
      if !user
        .navbar-item
          a.button.is-danger.is-inverted(href='/auth/google')
            span.icon
              i.fab.fa-google
            span
              | Sign in with Google
      else
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link Welcome, #{user.displayName}
          .navbar-dropdown.is-right.has-text-grey
            a.navbar-item(href='/dashboard')
              span.icon.is-small
                i.far.fa-columns
              span &nbsp;Dashboard
            a.navbar-item(href='/dashboard/approvals')
              span.icon.is-small
                i.far.fa-plus
              span &nbsp;Dashboard Approvals
            a.navbar-item(href='/marketplace')
              span.icon.is-small
                i.far.fa-shopping-basket
              span &nbsp;Marketplace
            a.navbar-item(href='/logout')
              span.icon.is-small
                i.far.fa-sign-out
              span &nbsp;Logout
