doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    block content
    include ../partials/footer.pug
